extends layout

block head

block content
  body(style="display: none")
    if is_phone
      #loading.d-flex.h-100.w-100.justify-content-center.align-content-center(style='display: none!important;')
        h4.loading-title.mt-save
          b=t('views.login.welcome_mobile') + ','
          br
          span=t('views.login.undertitle_mobile') + '...'
        .row.w-100.d-flex.justify-content-center.align-content-center
          .w-100.d-flex.justify-content-center
            img#userpic-black(src='/images/user/anonym.png', alt='User')
          .w-100.d-flex.justify-content-center.mt-3
            h3#usertitle-black.profile-title-black=t('views.login.anonym')
          .w-100.d-flex.justify-content-center
            p#userrole-black.profile-role-black=t('views.login.guest')
        .loading-circle
          .lds-ring
            div
            div
            div
            div
    #login-desk.main.d-flex.flex-wrap.justify-content-center.align-content-center.h-100.w-100
      .login.container.bg-color-white
        .login-inner.row
          #right-side.col.d-flex.flex-wrap.justify-content-center
            .row.w-100
              h3.w-100=t('views.change.welcome')
                b.text-color-pink=' ' + user.username
              span=t('views.change.undertitle')
            .row.w-100.mt-3
              .col-3.redline.mr-3
              .col-3.greyline
            .row.w-100
              if is_phone
                .bubble(style="display: none")
              else
                .bubble2(style="display: none")
              .login200-form
                form#login-post(method="post")
                  .wrap-input200
                    input#username.input200(type="text" name="username" value=user.username disabled)
                  .wrap-input200
                    span.btn-show-pass
                      i.fa.fa-eye
                    input#password.input200(type="password" name="password" autocomplete="new-password")
                    span.focus-input200(data-placeholder=t('views.change.password'))
                  .wrap-input200
                    input#username_new.input200(type="text" name="username_new" autocomplete="new-password")
                    span.focus-input200(data-placeholder=t('views.change.username_new'))
                  .wrap-input200
                    span.btn-show-pass
                      i.fa.fa-eye
                    input#password_new.input200(type="password" name="password_new" autocomplete="new-password")
                    span.focus-input200(data-placeholder=t('views.change.password_new'))
                  .container-login200-form-btn
                    .row.w-100.justify-content-center
                      input#login-btn.login200-form-btn(type="submit" value=t('views.change.save_signin'), style="width: 380px!important")
block footscripts
  script(type='text/javascript' src='/javascripts/views/change.js' defer)
