extends layout

block head
  link(rel='stylesheet', href='/plugins/aos/aos.css')

block content
  body.overflow-hidden
    button.add-button(style="display: none;") Add to home screen
    audio#soundFx
      source(src="/sounds/notification.wav")
    a#nb-dialog-container.mt-save-s(href="#", data-rel="lightcase")
      .nb-dialog-box
        .nb-background-blur
        .nb-header
          .nb-contents
            .nb-left
              i.fa.fa-bell.text-color-pink
              |   Notifications
            .nb-right 
        .nb-contents.nb-main-content
          strong#nbcontenttitle
            | Camera
          br
          span#nbcontent
    #loading.d-flex.h-100max.w-100.justify-content-center.align-content-center(style='display: none!important;')
      h4.loading-title.mt-save
        b=t('views.logout.title') + ','
        br
        span=t('views.logout.undertitle') + '...'
      .row.w-100.d-flex.justify-content-center.align-content-center
        .w-100.d-flex.justify-content-center
          img#userpic-black(src=photo, alt=username)
        .w-100.d-flex.justify-content-center.mt-3
          h3#usertitle-black.profile-title-black= username
        .w-100.d-flex.justify-content-center
          p#userrole-black.profile-role-black= role
      .loading-circle
        .lds-ring
          div
          div
          div
          div
    main#main
      - activeCams = 0
      each camEntry in Object.keys(settings.dashboard.cameras)
        if settings.dashboard.cameras[camEntry]
          - activeCams = activeCams + 1
      nav#header.navbar.fixed-top.navbar-light(class=is_phone?"":"white-nav")
        .container.position-relative
          .navbar-brand 
            if is_phone
              #contentText=t('views.dashboard.hello')
                b.text-color-pink=' ' + username
                p.header-undertitle=t('views.dashboard.undertitle')
            else 
              #contentImg
                img(src="/images/web/logo_transparent-256.png", width="65", height="65", alt="Logo")
                a.nav-header-title2(href="/dashboard", target="_self")=t('views.dashboard.title')
          .nav-desk
            ul
              li.nav-item.active
                a.nav-link.smoothLink(href="/dashboard")=t('navigation.dashboard') 
              if role !== 'User'
                li.nav-item
                  a.nav-link.smoothLink(href="/cameras")=t('navigation.cameras') 
                li.nav-item
                  a.nav-link.smoothLink(href="/recordings")=t('navigation.recordings') 
                li.nav-item
                  a.nav-link.smoothLink(href="/notifications")=t('navigation.notifications') 
                     span.notbadge.badge.badge-light.ml-2= not_size
              li.nav-item
                a.nav-link.smoothLink(href="/settings")=t('navigation.settings') 
              li.nav-item.camview
                a.nav-link.smoothLink(href="/camviews")=t('navigation.camviews') 
              if !noAuth
                li.nav-item.logout
                  a.nav-link(href=is_phone?"#":"/logout" id=is_phone?"logoutBtn":"logout")=t('navigation.logout') 
          button.navbar-toggler(aria-label="Toggler")
            span#togglebutton.navbar-toggler-icon
            #navbarNavCustom.container.collapse.navbar-collapse.red-collapse.hidenavi(style="display: none")
              ul.navbar-nav.navbar-red
                li.nav-item-placeholder
                li.nav-item.active
                  a.nav-link.smoothLink(href="/dashboard")=t('navigation.dashboard') 
                if role !== 'User'
                  li.nav-item
                    a.nav-link.smoothLink(href="/cameras")=t('navigation.cameras')
                  li.nav-item
                    a.nav-link.smoothLink(href="/recordings")=t('navigation.recordings') 
                  li.nav-item
                    a.nav-link.smoothLink(href="/notifications")=t('navigation.notifications') 
                      span.notbadge.badge.badge-light.ml-2= not_size
                li.nav-item
                  a.nav-link.smoothLink(href="/settings")=t('navigation.settings') 
                if !noAuth
                  li.nav-item
                    a.nav-link(href=is_phone?"#":"/logout" id=is_phone?"logoutBtn":"logout")=t('navigation.logout') 
                li.nav-item
                  a.nav-link.camview-nav-item.smoothLink(href="/camviews")=t('navigation.camviews') 
            #blackoverlay.mobile-nav-overly.hidebg(style="display: none")
      .d-block.h-100vh.fix-body-top
        if !is_phone
          .container.text-center.welcome-desk-block
            h1= t('views.dashboard.welcome') 
              | 
              b.text-color-pink= username
              p= t('views.dashboard.undertitle') 
        .container
          .row.justify-content-center
            each camEntry in Object.keys(settings.dashboard.cameras)
              - active = settings.dashboard.cameras[camEntry].active
              - ping = settings.dashboard.cameras[camEntry].ping
              - livestream = settings.dashboard.cameras[camEntry].livestream
              - cam = camEntry.replace(/\s/g,"") 
              if active
                .video-cards.col-lg-6.col-md-6.col-12(data-aos='fade-up', data-aos-delay='100')
                  .card
                    .card-body
                      h5.card-title= camEntry
                        div(class=ping?'onlineStatus online':'onlineStatus offline')
                    if ping || cameras[camEntry].socketPort || cameras[camEntry].source
                      i.fas.fa-expand-alt.fs-arrow-db
                    a.fix-mb.position-relative.fs-bg(href="/camera/" + camEntry, target="_self", aria-label=camEntry)
                      if !ping || !cameras[camEntry].socketPort || !cameras[camEntry].source
                        svg.bi.bi-camera-video-off.offline-video(width="1em" height="1em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                          path(fill-rule="evenodd" d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l.714 1H9.5a1 1 0 0 1 1 1v6a1 1 0 0 1-.144.518l.605.847zM1.428 4.18A.999.999 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014l.714 1H2a2 2 0 0 1-2-2V5c0-.675.334-1.272.847-1.634l.58.814zM15 11.73l-3.5-1.555v-4.35L15 4.269v7.462zm-4.407 3.56l-10-14 .814-.58 10 14-.814.58z")
                        canvas.card-img-bottom.bg-color-black.db-img-bottom(id=cam)
                      else
                        .liveSnap(id=cam)
                          if !livestream
                            .lds-ring-cv(id=cam + 'LDR')
                              div
                              div
                              div
                              div
                            .updateOverlay(id=cam+'Timer')
                            .card-img-bottom.db-img-bottom.fs-container(id=cam+'Snap')
                          else
                            .lds-ring(id=cam + 'LDR')
                              div
                              div
                              div
                              div
                            canvas.card-img-bottom.db-img-bottom(id=cam+'Stream')   
            if !activeCams
              img.col.mw-470(src="/images/web/no_cameras.png", alt="No Cameras")
block footscripts
  script(type='text/javascript' src='/javascripts/modules/jsmpeg.min.js' defer)
  script(type='text/javascript' src='/plugins/aos/aos.js' defer)
  script(type='text/javascript').
    function getCameras(){
      return !{JSON.stringify(cameras)};
    }
    function getSettings(){
      return !{JSON.stringify(dashboard)};
    }
    function getSSL(){
      return !{JSON.stringify(ssl)};
    }
  script(type='text/javascript' src='/javascripts/views/dashboard.js' defer)