doctype html
html
  head
    meta(charset="utf-8")
    title camera.ui
    link(rel='stylesheet', href='/stylesheets/modules/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='/www/manifest.json')
    meta(name='Description', content='camera.ui is a homebridge user interface for cameras.')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, viewport-fit=cover')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='apple-mobile-web-app-title', content='camera.ui')
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='/images/favicons/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/images/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/images/favicons/favicon-128x128.png', sizes='128x128')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2048x2732.png', media='(device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2732x2048.png', media='(device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1668x2388.png', media='(device-width: 834px) and (device-height: 1194px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2388x1668.png', media='(device-width: 1194px) and (device-height: 834px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1668x2224.png', media='(device-width: 834px) and (device-height: 1112px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2224x1668.png', media='(device-width: 1112px) and (device-height: 834px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1536x2048.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2048x1536.png', media='(device-width: 1024px) and (device-height: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1536x2048.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2048x1536.png', media='(device-width: 1024px) and (device-height: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1242x2688.png', media='(device-width: 414px) and (device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2688x1242.png', media='(device-width: 896px) and (device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1125x2436.png', media='(device-width: 375px) and (device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2436x1125.png', media='(device-width: 812px) and (device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-828x1792.png', media='(device-width: 414px) and (device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1792x828.png', media='(device-width: 896px) and (device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1125x2436.png', media='(device-width: 375px) and (device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2436x1125.png', media='(device-width: 812px) and (device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1242x2208.png', media='(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2208x1242.png', media='(device-width: 736px) and (device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-750x1334.png', media='(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1334x750.png', media='(device-width: 667px) and (device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1242x2208.png', media='(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2208x1242.png', media='(device-width: 736px) and (device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-750x1334.png', media='(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1334x750.png', media='(device-width: 667px) and (device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1242x2208.png', media='(device-width: 414p) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-2208x1242.png', media='(device-width: 736px) and (device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-750x1334.png', media='(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1334x750.png', media='(device-width: 667px) and (device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-640x1136.png', media='(device-width: 320px) and (device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image', href='/images/launch-screens/launch-screen-1136x640.png', media='(device-width: 568px) and (device-height: 320px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)')
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicons/favicon.ico')
    meta(name='theme-color', content='#f4f4f4')
    meta(name='msapplication-TileColor', content='#f4f4f4')
    meta(name='application-name', content='camera.ui')
    meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='/images/favicons/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='/images/favicons/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='/images/favicons/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='/images/favicons/mstile-310x310.png')
    meta(name='msapplication-config', content='/www/config.xml')
    link(rel='stylesheet', href='/fonts/fontawesome.css')
    if title && title !== 'Login'
      link(rel='stylesheet' href='/plugins/lightcase/lightcase.css' type='text/css')
      link(rel='stylesheet' href='/plugins/toast/toast.min.css' type='text/css')
    block head
    script(type='text/javascript').
      var eventHandler = function(event) {
      if (('standalone' in window.navigator) && window.navigator.standalone) {
      if (event.target.tagName.toLowerCase() !== 'a' || event.target.hostname !== window.location.hostname || event.target.pathname !== window.location.pathname || !/#/.test(event.target.href))
      return;
      event.preventDefault();
      window.location = event.target.href;
      }
      }
block content
if title && title !== 'CamViews' && title !== 'Login'
  footer#footer2.fixFoot(style="display: none")
    .container.d-md-flex.py-2
      .d-flex.justify-content-center.mr-md-auto.text-center.text-md-left
        .credits &#169 SeydX
      .social-links.text-center
        a(href='https://www.github.com/SeydX', target='_blank', rel="noreferrer", aria-label="Github")
          i.fab.fa-github
  footer#footer
    .container.d-md-flex.py-2
      .d-flex.justify-content-center.mr-md-auto.text-center.text-md-left
        .credits &#169 SeydX
      .social-links.text-center
        a(href='https://www.github.com/SeydX', target='_blank', rel="noreferrer", aria-label="Github")
          i.fab.fa-github
    .snapLine(style="opacity: 0;")
  a.back-to-top.mr-save.mb-save.text-center(href='#', aria-label="Back to top", style="display: none;")
    i.fa.fa-arrow-up
  #preloader
- title = title && title !== '' ? title : false;
- role = role && role !== '' ? role : false;
- keys = keys && keys !== '' ? keys : false;
- username = username && username !== '' ? username : false;
script(type='text/javascript' src='/javascripts/modules/jquery.min.js')
if title && title === 'CamViews'
  script(type='text/javascript' src='/plugins/gridstack/gridstack.all.js' defer)
script(type='text/javascript' src='/javascripts/modules/velocity.min.js' defer)
script(type='text/javascript' src='/javascripts/modules/velocity.ui.min.js' defer)
script(type='text/javascript' src='/javascripts/modules/jquery.visible.min.js' defer)
script(type='text/javascript' src='/javascripts/modules/socket.io.slim.js' defer)
script(type='text/javascript' src='/javascripts/modules/i18next.min.js')
script(type='text/javascript' src='/javascripts/modules/safearea.min.js' defer)
script(type='text/javascript' src='/javascripts/modules/bootstrap.bundle.min.js' defer)
script(type='text/javascript' src='/javascripts/utils/detectswipe.js' defer)
script(type='text/javascript' src='/plugins/toast/toast.min.js' defer)
script(type='text/javascript' src='/javascripts/main.js' defer)
if title && title !== 'Login'
  if title !== 'CamViews'
    script(type='text/javascript' src='/plugins/lightcase/lightcase.js' defer)
  script(type='text/javascript' src='/javascripts/utils/socket.js' defer)
  script(type='text/javascript' src='/worker.js' defer)
  script(type='text/javascript').
    function getUsername(){
      return !{JSON.stringify(username)};
    }
    function getKeys(){
      return !{JSON.stringify(keys)};
    }
    function getRole(){
      return !{JSON.stringify(role)};
    }
script(type='text/javascript').
  (async function ($) {
    i18next
    .init({
      debug: false,
      lng: !{JSON.stringify(language)},
      resources: !{JSON.stringify(i18n.services.resourceStore.data)},
      fallbackLng: !{JSON.stringify(i18n.options.fallbackLng)},
      preload: !{JSON.stringify(i18n.options.preload)}
    });
  })(jQuery);
script(type='text/javascript').
  function isPhone(){
    return !{JSON.stringify(is_phone)};
  }
  function isTablet(){
    return !{JSON.stringify(is_tablet)};
  }
  function isDesktop(){
    return !{JSON.stringify(is_desktop)};
  }
  function isMobile(){
    return !{JSON.stringify(is_mobile)};
  }
  function getTitle(){
    return !{JSON.stringify(title)};
  }
block footscripts