extends layout

block head
  link(rel='stylesheet' href='/plugins/daterangepicker/daterangepicker.css' type='text/css')

block content
  body.overflow-hidden
    audio#soundFx
      source(src="/sounds/notification.wav")
    a#nb-dialog-container.mt-save-s(href="#", data-rel="lightcase")
      .nb-dialog-box
        .nb-background-blur
        .nb-header
          .nb-contents
            .nb-left
              i.fa.fa-bell.text-color-pink
              |   Notifications
            .nb-right 
        .nb-contents.nb-main-content
          strong#nbcontenttitle
            | Camera
          br
          span#nbcontent
    #loading.d-flex.h-100max.w-100.justify-content-center.align-content-center(style='display: none!important;')
      h4.loading-title.mt-save
        b=t('views.logout.title') + ','
        br
        span=t('views.logout.undertitle') + '...'
      .row.w-100.d-flex.justify-content-center.align-content-center
        .w-100.d-flex.justify-content-center
          img#userpic-black(src=photo, alt=username)
        .w-100.d-flex.justify-content-center.mt-3
          h3#usertitle-black.profile-title-black= username
        .w-100.d-flex.justify-content-center
          p#userrole-black.profile-role-black= role
      .loading-circle
        .lds-ring
          div
          div
          div
          div
    main#main
      nav#header.navbar.fixed-top.navbar-light.white-nav-inner
        .container.position-relative
          .navbar-brand 
            #contentImg
              img(src="/images/web/logo_transparent-256.png", width="45", height="45", alt="Logo")
              a.nav-header-title2(href="/dashboard", target="_self")=t('views.recordings.title')
          .nav-desk
            ul
              li.nav-item
                a.nav-link.smoothLink(href="/dashboard")=t('navigation.dashboard') 
              if role !== 'User'
                li.nav-item
                  a.nav-link.smoothLink(href="/cameras")=t('navigation.cameras')
                li.nav-item.active
                  a.nav-link.smoothLink(href="/recordings")=t('navigation.recordings')
                li.nav-item
                  a.nav-link.smoothLink(href="/notifications")=t('navigation.notifications')
                    span.notbadge.badge.badge-light.ml-2= not_size
              li.nav-item
                a.nav-link.smoothLink(href="/settings")=t('navigation.settings')
              li.nav-item.camview
                a.nav-link.smoothLink(href="/camviews")=t('navigation.camviews')
              if !noAuth
                li.nav-item.logout
                  a.nav-link(href=is_phone?"#":"/logout" id=is_phone?"logoutBtn":"logout")=t('navigation.logout')
          button.navbar-toggler(aria-label="Toggler")
            span#togglebutton.navbar-toggler-icon
            #navbarNavCustom.container.collapse.navbar-collapse.red-collapse.hidenavi(style="display: none")
              ul.navbar-nav.navbar-red
                li.nav-item-placeholder
                li.nav-item
                  a.nav-link.smoothLink(href="/dashboard")=t('navigation.dashboard')
                if role !== 'User'
                  li.nav-item
                    a.nav-link.smoothLink(href="/cameras")=t('navigation.cameras')
                  li.nav-item.active
                    a.nav-link.smoothLink(href="/recordings")=t('navigation.recordings')
                  li.nav-item
                    a.nav-link.smoothLink(href="/notifications")=t('navigation.notifications')
                      span.notbadge.badge.badge-light.ml-2= not_size
                li.nav-item
                  a.nav-link.smoothLink(href="/settings")=t('navigation.settings')
                if !noAuth
                  li.nav-item
                    a.nav-link(href=is_phone?"#":"/logout" id=is_phone?"logoutBtn":"logout")=t('navigation.logout')
                li.nav-item
                  a.nav-link.camview-nav-item.smoothLink(href="/camviews")=t('navigation.camviews')
            #blackoverlay.mobile-nav-overly.hidebg(style="display: none")
      .d-block.h-100vh.fix-body-top-inner
        section.breadcrumbs-filter.w-100.h-100.d-flex.justify-content-center
          .container.m-0.p-0.position-relative.plr-15
            .btn-group.filter-text Filter
            .btn-group.mr-2
              button.btn.btn-secondary.m-0.filter-dropdown-title.filter-all=t('breadcrumb.all')
            .btn-group.mr-2
              button.btn.btn-secondary.dropdown-toggle.m-0.filter-dropdown-title(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')=t('breadcrumb.cameras')
              .dropdown-menu.p-2(x-placement='bottom-start' style='position: absolute; transform: translate3d(98px, 38px, 0px); top: 0px; left: 0px; will-change: transform;')
                each cam in cameras
                  a.dropdown-item.p-2.filter-dropdown-text.mb-1(data-group=cam.originName)= cam.originName
            .btn-group.mr-2
              button.btn.btn-secondary.dropdown-toggle.m-0.filter-dropdown-title(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')=t('breadcrumb.rooms')
              .dropdown-menu.p-2(x-placement='bottom-start' style='position: absolute; transform: translate3d(98px, 38px, 0px); top: 0px; left: 0px; will-change: transform;')
                each room in settings.general.rooms
                  a.dropdown-item.p-2.filter-dropdown-text.mb-1(data-group=room)= room
            .btn-group
              button.btn.btn-secondary.dropdown-toggle.m-0.filter-dropdown-title(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')=t('breadcrumb.type')
              .dropdown-menu.p-2(x-placement='bottom-start' style='position: absolute; transform: translate3d(98px, 38px, 0px); top: 0px; left: 0px; will-change: transform;')
                a.dropdown-item.p-2.filter-dropdown-text.mb-1(data-group='Video')=t('breadcrumb.video')
                a.dropdown-item.p-2.filter-dropdown-text.mb-1(data-group='Snapshot')=t('breadcrumb.snapshot')
            form.form-inline.float-right
              #reportrange
                input.report-field(type="text" name="daterange" value=t('breadcrumb.selectDate') readonly)
            .filter-icon.d-flex.justify-content-center
              i#dataFilter.fas.fa-filter     
            if recordings.length && role === 'Master'
              btn#removeAllRecordings.breadcrumb-removeAll.text-center=t('views.recordings.btn_removeall') 
            else 
              btn#removeAllRecordings.breadcrumb-removeAll.text-center(style='display: none')=t('views.recordings.btn_removeall')         
        #recordings.container.position-relative.mt-breadcrumb-filter
          i#left-arrow.hnavi.hleft.fa.fa-arrow-left.d-flex.justify-content-center(style="display: none!important;")
          i#right-arrow.hnavi.hright.fa.fa-arrow-right.d-flex.justify-content-center(style="display: none!important;")
          form#recs
            #shuffledCards.row.justify-content-center.horizontal-direction
              each recording in recordings
                - name = recording.originName;
                - room = recording.room;
                - fileType = recording.fileType;
                - date = recording.time;
                - shortRoom = recording.room.replace(/\s/g,"") 
                .video-cards.col-lg-4.col-md-4.col-12(data-groups=[fileType, room, name], data-date-created=date, data-title=name, data-target=recording.id)
                  .card.bg-transparent.no-shadow.recording-card
                    a(href="/files/" + recording.fileName, data-rel="lightcase")
                      img.card-img-top.add-shadow.camera-img(onerror="this.onerror=null;this.src='/images/web/noimg.png';", src="/files/" + ( recording.fileType === "Snapshot" ? recording.fileName : recording.fileName.split(".mp4")[0] + "@2.jpeg"), alt=recording.originName)
                    .card-body.camera-cards
                      .row.card-title-cameras
                        .col.text-center
                          h5.card-title-camera.text-truncate.picture-item__title= recording.originName
                      .card-text-cameras.text-center= recording.fileName
                      .card-text-cameras.text-center= t('views.recordings.room') + ': ' + room
                      .card-text-cameras.text-center.mt-3.text-color-pink= t('views.recordings.info') + ' ' + recording.time
                      if role === 'Master'
                        .row.mt-3
                          .col-5
                            .btn.camview.removeRecording=t('views.settings.views.webhook.exclude_del')
                          .col.d-flex.justify-content-end
                            a.recording-dl.text-center(href="/recordings/" + recording.fileName target="_self")
                              i.fas.fa-download
                      else
                        a.d-flex.justify-content-end.mt-3.recording-dl(href="/recordings/" + recording.fileName target="_self")
                          i.fas.fa-download
              .col-sm-1.sizer-item
          if !recordings.length
            img.container.d-flex.justify-content-center.mw-470(src="/images/web/no_recordings.png", alt=t('views.recordings.no_recordings'))
block footscripts
  script(type='text/javascript' src='/plugins/daterangepicker/moment.min.js' defer)
  script(type='text/javascript' src='/plugins/daterangepicker/daterangepicker.min.js' defer)
  script(type='text/javascript' src='/plugins/shuffle/shuffle.min.js' defer)
  script(type='text/javascript' src='/javascripts/utils/filterShuffle.js' defer)
  script(type='text/javascript' src='/javascripts/views/recordings.js' defer)