extends layout

block content
  body(style='height:auto;margin-top:30px;')
    .container-fluid.d-flex.h-100
      .d-flex.justify-content-center.align-self-center.margin-center.innerBG.flex-column
        .d-flex.flex-row
          .p-2
            h1
              | #
              b.pink= title
          .ml-auto.p-2.align-self-center
            a.shortbutton(href='/logout')
              | Sign out, 
              b= user
        .d-flex.m-2.pb-2.flex-row.border-bottom.border-danger
          h5.text-white.mb-0 Recordings
          if videos.length > 0
            a#remAll.ml-auto.removeButton(href="#removeAll" onClick="postdata()") Remove All
        .d-flex.flex-wrap.p-1.mb-2
          each video in videos.length ? videos : [{title: 'No recordings', url: '#'}]
            if video.url !== '#'
              a.m-1.bd-highlight.flex-fill.vidList(href='/recordings/' + title + '/video/' + video.url)= video.title
                span= video.ctime
            else 
              a.m-1.bd-highlight.flex-fill.vidList(href='/recordings/' + title + video.url)= video.title
                span= video.ctime
        a.p-2.mb-2.ml-2.mr-2.longbutton(href='/stream/' + title) Back to Stream
        if yihack
          a.p-2.mb-2.ml-2.mr-2.longbutton(href='/settings/' + title) Show Settings
        a.p-2.mb-3.ml-2.mr-2.longbutton(href='/cameras') All Cameras
    script(type='text/javascript').
    
      function postdata(){
        
        $('#remAll').text("Removing...")
        
        $.post('/recordings/!{title}')
        .always(function(data, textStatus, jqXHR){
          
          if(jqXHR.status === 200){
          
            $('#remAll').text("Removed")
            
            setTimeout(function(){
            
              window.open('/recordings/!{title}', '_self');
            
            },1000);
          
          } else {
        
            console.log(textStatus)    
            console.log(data)
        
          }
          
        });
        
      }