extends layout

block content
  body(style='height:auto;margin-top:30px;')
    .container-fluid.d-flex.h-100
      .d-flex.justify-content-center.align-self-center.margin-center.innerBG.flex-column
        .d-flex.flex-row
          .p-2
            h1
              | #
              b.pink= title
          .ml-auto.p-2.align-self-center
            a.shortbutton(href='/logout')
              | Sign out, 
              b= user
        .d-flex.p-2.mb-0.flex-row
          h5.text-white.mb-0= fileName
          a.removeButton.ml-auto(href="#remove" onClick="postdata()") Remove
        .d-flex.flex-wrap.p-1.mb-2
          video.p-1.videoBackground(width='100%',height='100%', controls='')
            source(src=file, type='video/mp4')
            |   Your browser does not support HTML5 video.
        a.p-2.mb-2.ml-2.mr-2.longbutton(href='/recordings/' + title) Recordings
        a.p-2.mb-2.ml-2.mr-2.longbutton(href='/stream/' + title) Back to Stream
        if yihack
          a.p-2.mb-2.ml-2.mr-2.longbutton(href='/settings/' + title) Show Settings
        a.p-2.mb-3.ml-2.mr-2.longbutton(href='/cameras') All Cameras
    script(type='text/javascript').
    
      function postdata(){
        
        $.post('/recordings/!{title}/video/!{fileName}')
        .always(function(data, textStatus, jqXHR){
          
          if(jqXHR.status === 200){
          
            window.open('/recordings/!{title}', '_self');
          
          } else {
        
            console.log(textStatus)    
            console.log(data)
        
          }
          
        });
        
      }